.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    

}
.title{
    text-align: center;
}
.cards{
    width: 30%;
    box-shadow: 0 0 4px rgb(76, 3, 76);
    margin:1rem 0;
    align-items: center;
    padding: 1em;
    justify-items: center;
    display: flex;
    justify-content: space-between;
    background:rgb(252, 250, 252);
    border-radius: 10px;
    


}
.cards img{
    width: 50%;
    object-fit: contain;
    border-radius: 20px;
}

.cards h1{
    font-size: 1.4rem;
    width: 40%;
    color: purple;
    font-weight: bolder;
}

.text{
    width:50% ;
    background-color: rgb(97, 6, 97);
    color: white;
    font-weight: bold;
    padding: 5%;
    line-height: 20px;
    margin: 5%;  
    align-items: center;  
}

.holder{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#btn{
    background-color: white;
    color: purple;
    font-family:'Times New Roman', Times, serif;
    font-style: italic;
    font-variant: small-caps;
    font-weight:bold;
    border-radius: 10px;
    padding: 10px 14px;
    border: 2px solid rgb(97, 6, 97);
    cursor: pointer;


}